html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  text-decoration: none;
}
a:hover,
a:focus {
  color: #0070f3;
  text-decoration: underline;
}
* {
  box-sizing: border-box;
}

/* ul {
  list-style-type: none;
  padding: 0;
}

li {
  display: inline;
}

li:not(:first-child) {
  margin-left: 0.75rem;
} */
