/* Light theme */
:root {
  --background-color: #fff;
  --text-color: rgb(32, 31, 31);
  --link-color: darkred;
}
/* Dark theme */
:root {
  --background-color: rgb(32, 31, 31);
  --text-color: #fff;
  --link-color: rgba(202, 156, 6, 0.848);
}
html,
body {
  padding: 0;
  margin: 0;
  font-family: Helvetica Neue, sans-serif;
  background-color: var(--background-color);
  color: var(--text-color);
}

a {
  color: var(--link-color);
  text-decoration: none;
}
a:hover,
a:focus {
  color: #0070f3;
  text-decoration: underline;
}
* {
  box-sizing: border-box;
}

/* ul {
  list-style-type: none;
  padding: 0;
}

li {
  display: inline;
}

li:not(:first-child) {
  margin-left: 0.75rem;
} */
